{#
/**
 * @file user_history.html.twig
 * Default theme implementation to present User history data.
 *
 * This template is used when viewing User history pages.
 *
 *
 * Available variables:
 * - content: A list of field items. Use 'content' to print them all, or
 *   'content.label' to print just the label (and so on).
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_history()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('user_history/user_history') }}
<div{{ attributes.addClass('user_history') }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
